@import url("../fonts/font-awesome.min.css");
@import "variables.css"; 
@font-face {
	font-family:basefont;
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family:semibold;
	src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
	font-family:mbold;
	src: url(../fonts/Poppins-Medium.ttf);
} 
@font-face {
	font-family:bold;
	src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
	font-family:extrabold;
	src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
	font-family:light;
	src: url("../fonts/Poppins-ExtraLight.ttf");
}
.bold {
	font-family:mbold!important;
}
.dpPic {
	width: 60px;
	height: auto;
}
.activeIcons {
    background: rgba(0,0,0,0.2);
    padding: 15px 10px;
}
a {
	color: inherit!important;
}
a:hover {
	text-decoration: none!important;
}
html {
	height: 100%!important;
	position: relative;
}
body {
	font-family:basefont!important;
	font-size: var(--base_text);
	color: var(--text_para);
	font-weight: 300!important;
	overflow-x: hidden!important;
	display: flex;
	flex-direction: column;
height: 100%!important;
background-image: url(../images/page_bg.png);
background-repeat: no-repeat;
background-position: left top;
background-color: #ebf1fc;
background-size: cover;
	
}
.innerHeader {
	height: 10vh;
	background-color:#fff;
	/*position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;*/
	/*background: conic-gradient(from 294deg at 50% 0,#d1e8f3 136deg,#bcceed 1turn);*/
	background-color: #f96e07;
	position: relative;
	display: flex;
	justify-content: center;
}

.bodyWarper {
	padding-top: 2vh;
    border: 0px #a33939 solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
	position: relative;
    bottom: 0;
	background-image: url(../images/page_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #ebf1fc;
    background-size: cover;
	padding-bottom: 100px;
}
.innerHeader  .logo {
	width: calc(200px + 1.5vw);
	margin: 1vh 15px;
	position: relative;
}

.inner_footer {
	height: 8vh;
	background: conic-gradient(from 294deg at 50% 0,#F96E07 136deg,#F96E07 1turn);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}
.footer_menu_icon {
	height: calc(1.3rem + .6vw);
}
.bghome {
	background-image: url(../images/page_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #ebf1fc;
    background-size: cover;
	
}

@media(min-width:992px) {
	
		.bodyWarper {
			height: auto;
	}
}

.grid-gap-lg {
	grid-gap: 40px;
}
.form-control, .table {
	font-size: inherit!important;
}
main {
  background-image: url(../images/edu-rep.svg), url(../images/edu-rep-bt.svg);
  background-position: left top,  right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 10vh,  10vh;
}
.card {
	background-color: rgb(256 256 256 / 100%)!important;
	backdrop-filter: blur(20px)!important;
	box-shadow: 0px 2px 5px -1px rgba(50, 50, 93, 0.25), 0px 1px 2px -1px rgba(0, 0, 0, 0.3)!important;
	border: 0!important;
}
.aeduLogo {
	position: absolute;
    top: 10px;
    right: 10px;
}
.adity_logo {
	height: 6vh;
}
.analysis-logo-blk {
	position: absolute;
    bottom: 10px;
    left: 10px;
}
.analysis-logo {
	height: 6vh;
}
.portal-logo {
	height: 8vh;
}
.h6 {
	opacity: 0.8;
}


.cstmTabs {
	display: flex;
    justify-content: space-between;
    margin: auto;
	    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
    padding-top: 15px;
}
.cstmTabs button {
	background-color: transparent;
	border: 0px;
	padding: 0 0 12px 0;
}
.nav-tabs .h6 {
	margin-bottom: 0px!important;
}
.cstmTabs .nav-item {
	padding-left: 12vw;
    padding-right: 12vw;
}

.btPic {
	margin-bottom: 8px;
	min-height: calc(1em + 3vh);
}
.btPic img {
	margin-bottom: 8px;
	min-height: calc(1em + 3vh);
}
.cstmTabs .active{
	border-bottom: 3px solid var(--secondary_color1)!important ;
   }

.nav-tabs {
	border-bottom: 0;
}
.form-floating  .form-control  {
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-top-width: 0 !important;
	border-radius: 0!important;
	padding-left: 30px!important;
	background-color: transparent!important;
}
.form-floating>label {
    padding-left: 0!important;
	left: 30px;
	color:#999;

}
.inputPic {
	top: 16px;
}
.form-control:focus {
	box-shadow: none!important;
}
.form-floating>.form-control:focus~label{
	color:var(--secondary_color1);
	opacity: 1 !important; ;
}
.btn-primary {
	background-color:var(--secondary_color1);
	box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
    height: 36px;
    width: 131.04px;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
    border-radius: 4px;
	border: 1px #d5d6ff solid;
}
.navbar-toggler-icon {
	background-image: none!important;
}
.navbar-toggler:focus {
    box-shadow: none!important;
}
.swipercard {
	background: linear-gradient(126.39deg, #2867e5 0.72%, #0038A5 69.74%);
	border-radius: 6px;
	padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}
.swipercard_blur {
	position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: blur(32px);
    opacity: 0.9;
}
.repPic {
    height: calc(7rem + 1vw);
    margin-left: 40px;
}
.items .tab-content{
	width: 100%!important;
}
ul, li {
	list-style: none!important;
}
ul {
	margin-bottom: 0!important;
	padding-left: 0!important;
}
/* BEAUTIFY STYLE START */
				/*Colors*/
				.horizontal-line {
					position: relative;
					display: flex;
					justify-content: center; 
				}
				.horizontal-line h3 {
					/* background-color: #fff; */
					display: inline-block;
					padding: 0 5px;
					position: relative;
					z-index: 2;
					font-size: calc(1rem + 0.5vw)!important;
				}
				 .horizontal-line:after, .horizontal-line::before{
					position: absolute;
					background-color: #f96e075c;
					content: "";
					height: 1px;
					width: 28%;
					top: 40%;
					z-index: 1;
					transform: translateY(-50%);
				}
				.horizontal-line::after{
					left: 0;
				}
				.horizontal-line::before {
				
					right: 0;
				}
				.text_heading {
					color: var(--text_heading);
				}
				.text_para {
					color: var(--text_para);
				}
				.text_primary {
					color: var(--secondary_color1)!important;
				}
			/* =================================== */
				/*bg-Colors*/
				.theme_color {
					background-color: var(--theme_color);
				}
				.secondary_color1 {
					background-color: var(--secondary_color1);
				}
				.secondary_colo2 {
					background-color: var(--secondary_color2);
				}
				.base_text {
					font-size: var(--base_text);

				}
				.heading_1 {
					font-size: var(--heading_1);
				}
				.heading_2 {
					font-size: var(--heading_2);
				}
				.heading_3 {
					font-size: var(--heading_3);
				}
				.heading_4 {
					font-size: var(--heading_4);
				}
				.heading_5 {
					font-size: var(--heading_5);
				}
				.heading_6 {
					font-size: var(--heading_6);
				}
				.heading_md {
					font-size: var(--heading_md);
				}
				 /*text-weight*/
				 .fontweight1 {
					font-family:semibold!important;
				 }
				 .fontweight2 {
					font-family:mbold!important;
				 }
				 .fontweight3 {
					font-family:extrabold!important;
				 }
.heading_1, .heading_2, .heading_3, .heading_4, .heading_5, .heading_6 {
 color: var(--text_heading);
}
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, h1, h2, h3, h4, h5, h6, th {
	font-family:mbold!important;
	font-weight: inherit!important;
   }
   .hdngbar {
	position: relative;
    text-align: center;
    display: inline-block;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6px;
   }
   .hdngbar h1::after {
	background-color: #f96e07;
    height: 5px;
    position: absolute;
    top: 76%;
    width: 50%;
    content: '';
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -30%);
   }

button:focus {
	box-shadow: none!important;
	border: 0!important;
}
.content-table td {
	padding-right: 8px;
	padding-bottom: 20px;
}
.slicdercardCont {
	white-space: normal;
}		 
			 /* ===================================*/
			
/* BEAUTIFY STYLE END */
.marscrol img {
	border-radius: 6px;
	border: 1px #ccc solid;
}
.tabBlock {
	background-color: rgb(256 256 256 / 49%);
	backdrop-filter: blur(5);
	backdrop-filter: blur(3px);
	border-radius: 6px;
}
.btn-primary {
	margin-top: 24px;
	margin-bottom: 24px;
	
}
@media(min-width:992px) {
	.tabBlock {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		/* box-shadow: 0px 3px 6px rgb(0 0 0 / 16%), 0px 3px 6px rgb(0 0 0 / 23%); */
		
	
	}
	
	.cstmTabs .nav-item {
		padding-left: 1.5vw;
		padding-right: 1.5vw;
		padding-top: 1.5vw;
	}
	.cstmTabs {
		justify-content: center;
	}
	
}

.pointerclass {
	cursor: pointer;
}



.swiper-slide {
    /* text-align: center; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.subjectslide {
    letter-spacing: 1px;
    width: 400px !important;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px !important;
    /* background: #fff; */
    min-height: 100px;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upleft;
    -webkit-transform: rotate(
180deg
);
    white-space: nowrap;
    left: calc(50% - 50%);
    line-height: 1;
    font-family: 'poppins', sans-serif !important;
    font-size: 20px !important;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
.sidebar {
    position: relative;
    display: flex;
    text-align: center;
    width: calc(20% - 10%);
    max-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 0px 0px 5px;
}
.bgcolor-orange {
    background: #FD9A10;
}
.color-orange {
    color: #FD9A10;
}
.maindiv {
    font-family: 'poppins', sans-serif !important;
    text-transform: capitalize;
    letter-spacing: .2px;
}
.cstm_card {
	background: #fff;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
	box-shadow: 0 .1rem 1rem rgba(0,0,0,.05)!important;
	border-radius: 0.25rem;
	margin: 5px 5px 5px 5px;
	width: 100%;
	border: 1px #ececec solid;
	min-height: 208px; 
}
.font1 {
	font-size: 10px !important;
  }
/*swaper*/

 
		.g-scrolling-carousel .items a {
			display: inline-block; /* notice the comments between inline-block items */
			margin-right: 10px;
			width: 350px;
			height: auto;
			text-decoration: none;
		}
		@media(max-width:600px){
			.g-scrolling-carousel .items a {
				width: 80%;
			}
		}
	
	/*swaper end*/