<div class="bodyWarper" ng-controller="academic" ng-init="adc_loading()">    
    <div class="card card-body shawdow"> 
        <article class="horizontal-line mb-2">
            <h3>Average of Academic Exam</h3>
        </article>
        <div class="text-center" ng-show="loadingimg==0"> 
            <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive text-nowrap" ng-show="loadingimg==1">
                    <table class="table text-center">  
                        <thead class="table-secondary">
                            <tr >
                                <th> #</th>
                                <th> Subject Name</th>
                                <th> Marks</th>  
                                <th> Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stdadc in stdacademic"> 
                                <td> {{$index+1}}</td>
                                <td> {{stdadc.subject_name}} </td>
                                <td> {{stdadc.stdavgmarks}}/{{stdadc.exammaxmarks}} </td> 
                                <td class="bold"> {{(stdadc.stdavgmarks*1/stdadc.exammaxmarks*1)*100 | number:0}}% </td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="col-md-6"> 
                <div class="text-center">
                    <canvas id="adc_avg_graph" style="width:50%"></canvas>
                </div>
            </div>
        </div>
    </div>  
    <div class="card card-body shadow mt-3">
        <article class="horizontal-line mb-2">
            <h3>Academic Exam Report</h3>
        </article> 
        <div class="input-group-btn mb-2 text-end"> 
            <button type="button" ng-class="showlist==0 ? 'btn btn-success btn-sm' : 'btn btn-light btn-sm'" ng-click="listandblock_function(0)" ><i class="fa fa-th-large"></i></button>
            <button type="button" ng-class="showlist==1 ? 'btn btn-success btn-sm' : 'btn btn-light btn-sm'" ng-click="listandblock_function(1)"><i class="fa fa-list"></i></button> 
        </div>
        <!-- Block  -->
        <div class="mb-3" ng-repeat="x in finalresult" ng-show="showlist==0"><!--/** ng repeat **/ -->
            <div class="text-center" ng-show="loadingimg==0"> 
                <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
            </div>  


            <div class="table-responsive" ng-show="loadingimg==1">
                <!-- <h6 class="text-center">Block View</h6> -->
                <h5 class="lead text-muted"># {{x.result[$index].category_name}}</h5>
                <table class="table">  
                    <thead class="table-secondary text-center">
                        <tr>
                            <th> #</th>
                            <th> Exam Name </th>
                            <th class="text-nowrap" ng-repeat="y in x.result[$index].subjectarray"> {{y}} </th> 
                            <th> Total</th>
                            <th> Result</th>
                            <th> (Per)%</th>
                            <th> Section Rank</th>
                            <th> Class Rank</th> 
                        </tr>
                    </thead>
                    <tbody class="text-nowrap">
                        <tr ng-repeat="z in x.result | limitTo: limitvar track by $index" ng-init="rowIndex = $index">
                            <td>{{$index+1}} </td> 
                            <td>{{z.exam_name}} <br> <small class="text-muted"> {{z.exam_date | date:'dd-MM-yyyy'}} </small> </td>  
                            <td class="text-center" ng-repeat="m in x.result[rowIndex].marksarray track by $index" ng-init="columnIndex = $index">{{m}} / <b class="bold">{{x.result[rowIndex].maxmarksarray[columnIndex]}}</b></td> 
                            <td class="text-center">{{z.tltmarks}} / <b class="bold"> {{z.tltmaxmarks}}</b></td> 
                            <td class="text-center">{{z.status}}</td>
                            <td class="text-center">{{z.percent}}% </td>
                            <td class="text-center">{{z.section_rank}} </td>
                            <td class="text-center">{{z.branch_rank}} </td> 
                        </tr> 
                    </tbody>
                </table>
            </div> 
            <small class="text-end pointerclass text-danger" ng-click="readmore(x.result.length,x.cat_id)"> Read More...</small> 
        </div>

        <!--  List Block -->

        <div class="mb-3" ng-repeat="x in finalresult" ng-show="showlist==1"><!--/** ng repeat **/ -->
            <div class="text-center" ng-show="loadingimg==0"> 
                <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
            </div>
            <div class="table-responsive" ng-show="loadingimg==1">
                <!-- <h6 class="text-center">List View</h6> -->
                <h5 class="lead text-muted"># {{x.result[$index].category_name}}</h5>
                <table class="table">  
                    <thead class="table-secondary text-center">
                        <tr>
                            <th> #</th>
                            <th> Exam Name </th>
                            <th class="text-nowrap" ng-repeat="y in x.result[$index].subjectarray"> {{y}} </th> 
                            <th> Total</th>
                            <th> Result</th>
                            <th> (Per)%</th>
                            <th> Section Rank</th>
                            <th> Class Rank</th> 
                        </tr>
                    </thead>
                    <tbody class="text-nowrap">
                        <tr ng-repeat="z in x.result track by $index" ng-init="rowIndex = $index">
                            <td>{{$index+1}} </td> 
                            <td>{{z.exam_name}} <br> <small class="text-muted"> {{z.exam_date | date:'dd-MM-yyyy'}} </small> </td>  
                            <td class="text-center" ng-repeat="m in x.result[rowIndex].marksarray track by $index" ng-init="columnIndex = $index">{{m}} / <b class="bold">{{x.result[rowIndex].maxmarksarray[columnIndex]}}</b></td> 
                            <td class="text-center">{{z.tltmarks}} / <b class="bold"> {{z.tltmaxmarks}}</b></td> 
                            <td class="text-center">{{z.status}}</td>
                            <td class="text-center">{{z.percent}}% </td>
                            <td class="text-center">{{z.section_rank}} </td>
                            <td class="text-center">{{z.branch_rank}} </td> 
                        </tr> 
                    </tbody>
                </table>
            </div> 
        </div>





        <div class="mb-3" ng-repeat="x in finalresult"><!--/** ng repeat **/ -->
            <div class="text-center" ng-show="loadingimg==0"> 
                <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
            </div>
            <div class="table-responsive" ng-show="loadingimg==1">
                <!-- <h6 class="text-center">List View</h6> -->
                <h5 class="lead text-muted"># {{x.result[$index].category_name}}</h5>
                <table class="table">  
                    <thead class="table-secondary text-center">
                        <tr>
                            <th> #</th>
                            <th> Exam Name </th>
                            <th class="text-nowrap" ng-repeat="y in x.result[$index].subjectarray"> {{y}} </th> 
                            <th> Total</th>
                            <th> Result</th>
                            <th> (Per)%</th>
                            <th> Section Rank</th>
                            <th> Class Rank</th> 
                        </tr>
                    </thead>
                    <tbody class="text-nowrap">
                        <tr ng-repeat="z in x.result track by $index" ng-init="rowIndex = $index">
                            <td>{{$index+1}} </td> 
                            <td>{{z.exam_name}} <br> <small class="text-muted"> {{z.exam_date | date:'dd-MM-yyyy'}} </small> </td>  
                            <td class="text-center" ng-repeat="m in x.result[rowIndex].marksarray track by $index" ng-init="columnIndex = $index">{{m}} / <b class="bold">{{x.result[rowIndex].maxmarksarray[columnIndex]}}</b></td> 
                            <td class="text-center">{{z.tltmarks}} / <b class="bold"> {{z.tltmaxmarks}}</b></td> 
                            <td class="text-center">{{z.status}}</td>
                            <td class="text-center">{{z.percent}}% </td>
                            <td class="text-center">{{z.section_rank}} </td>
                            <td class="text-center">{{z.branch_rank}} </td> 
                        </tr> 
                    </tbody>
                </table>
            </div> 
        </div>


    </div> 
</div>