<div class="bodyWarper" ng-controller="competative" ng-init="cmp_loading()">    
    <div class="card card-body shawdow">  
        <article class="horizontal-line">
            <h3>Average of Competitive Exam</h3>
        </article>
        <div class="text-center" ng-show="loadingimg==0"> 
            <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive text-nowrap" ng-show="loadingimg==1">
                    <table class="table">  
                        <thead>
                            <tr>
                                <th> #</th>
                                <th> Subject Name</th>
                                <th> Marks</th>  
                                <th> Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stdcmp in stdcompetative"> 
                                <td> {{$index+1}}</td>
                                <td> {{stdcmp.subject_name}} </td>
                                <td> {{stdcmp.stdavgmarks}}/{{stdcmp.exammaxmarks}} </td> 
                                <td class="bold"> {{(stdcmp.stdavgmarks*1/stdcmp.exammaxmarks*1)*100 | number:0}}% </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <canvas id="cmp_avg_graph" style="width:50%"></canvas>
                </div>
            </div>
        </div>
    </div> 
    <div class="card card-body shawdow mt-3"> 
        <article class="horizontal-line mb-2">
            <h3>Competitive Exam Report</h3>
        </article>
        <div class="mb-3" ng-repeat="x in finalresult"><!--/** ng repeat **/ -->
            <div class="text-center" ng-show="loadingimg==0"> 
                <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
            </div>
            <div class="table-responsive" ng-show="loadingimg==1">
                <h5 class="lead text-muted"># {{x.result[0].category_name}}</h5>
                <table class="table">  
                    <thead class="table-secondary text-center">
                        <tr>
                            <th> #</th>
                            <th> Exam Name </th>
                            <th class="text-nowrap" ng-repeat="y in x.result[0].subjectarray"> {{y}} </th> 
                            <th> Total</th> 
                            <th> (Per)%</th>
                            <th> Section Rank</th>
                            <th> Class Rank</th>
                            <!-- <th> Aditya Rank</th> -->
                        </tr>
                    </thead>
                    <tbody class="text-nowrap">
                        <tr ng-repeat="z in x.result track by $index" ng-init="rowIndex = $index">
                            <td>{{$index+1}} </td> 
                            <td>{{z.exam_name}} <br> <small class="text-muted"> {{z.exam_date | date:'dd-MM-yyyy'}} </small> </td>  
                            <td class="text-center" ng-repeat="m in x.result[rowIndex].marksarray track by $index" ng-init="columnIndex = $index">{{m}} / <b class="bold">{{x.result[rowIndex].maxmarksarray[columnIndex]}}</b></td> 
                            <td class="text-center">{{z.tltmarks}} / <b class="bold"> {{z.tltmaxmarks}}</b></td>  
                            <td class="text-center">{{z.percent}}% </td>
                            <td class="text-center">{{z.section_rank}} </td>
                            <td class="text-center">{{z.branch_rank}} </td>
                            <!-- <td class="text-center">{{z.overal_rank}} </td> -->
                        </tr> 
                    </tbody>
                </table>
            </div> 
        </div>
    </div> 
</div>