<div class="bodyWarper" ng-controller="finance" ng-init="finance_loading()">  
    <div ng-show="showform==1">
        <div ng-show="terms_details.length>0">
            <article class="horizontal-line">
                <h3>Fee Details</h3>
            </article>
            <div class="card card-body shawdow mb-3"  ng-repeat="term_name in terms_details">   
                <div class="text-center" ng-show="loadingimg==0"> 
                    <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
                </div> 
                <div class="table-responsive " ng-show="loadingimg==1">
                    <div>
                        <h5 class="lead text-muted"># Term-{{term_name[0].term_number}}</h5>
                        <!-- <tr> TERM {{term_name[$index].term_number}} </tr> -->
                        <!-- <div class="card card-body shawdow-lg mb-3 rounded"> -->
                            <table class="table text-center">  
                                <thead class="table-secondary"> 
                                    <tr>
                                        <th> Fee Name</th>  
                                        <th> Term Fee </th> 
                                        <th> Due </th>      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in term_name">  
                                        <td>
                                            <div>{{x.fee_name}} <small class="text-muted"> ({{x.fee_shortcode}})</small> </div> 
                                            <div> <small class="text-muted">{{x.term_duedate | date:'dd-MM-yy'}}</small></div> 
                                          </td>  
                                        <td> {{x.term_amount | number:0}} </td> 
                                        <td> {{x.term_due_amount | number:0}} </td>  
                                    </tr>
                                    <tr>
                                        <td class="bold" colspan="1"> TOTAL</td> 
                                        <td> {{term_name.std_tlttermfees | number:0}} </td>
                                        <td> {{term_name.std_tlttermdue | number:0}} </td> 
                                       
                                    </tr>
                                </tbody>
                            </table>
                        <!-- </div>  -->
                    <div class="text-center" ng-show="term_name.std_tlttermdue>0">
                        <button type="button" class="btn btn-success text-white" ng-click="fee_pay_now(term_name)"><i class="fa fa-credit-card"></i> Pay Now</button>
                    </div>
                    </div> 
                </div>
            </div> 
        
            <!-- Fee Paid Results -->
            <article class="horizontal-line">
                <h3>Payment Details</h3>
            </article> 
            <div class="card card-body shadow"> 
                <div class="text-center" ng-show="loadingimg==0"> 
                    <img src="./assets/images/loading.gif" style="height:100px; width:100px;"> 
                </div> 
                <div class="table table-responsive " ng-show="loadingimg==1">
                    <table class="table text-nowrap">  
                        <thead class="table-secondary"> 
                            <tr> 
                                <th> Receipt No. </th> 
                                <th class="text-end"> Paid </th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in payment_details" ng-click="verify_receipt(x.receipt_no)">   
                                <td class="text-left pointerclass">{{x.receipt_no}} <br> <small class="text-muted"> {{x.payment_date | date:'dd-MM-yyyy'}} </small></td>
                                <td class="text-end pointerclass"> {{x.paidamount}} </td> 
                            </tr> 
                            <!-- <tr ng-repeat="x in payment_details" >   
                                <td class="text-left pointerclass"><a href="home.html#/receipt?rid={{x.receipt_no}}"> {{x.receipt_no}} </a><br> <small class="text-muted"> {{x.payment_date | date:'dd-MM-yyyy'}} </small></td>
                                <td class="text-end pointerclass"> {{x.paidamount}} </td> 
                            </tr>  -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="showform==2">
        <article class="horizontal-line">
            <h3>Payment Details</h3>
        </article>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="text-left">
                        <tr>
                            <td style="width:30px;white-space: nowrap;padding-right: 15px;">Student ID</td>
                            <td class="text-muted">{{stdinfo.student_no}}</td>
                        </tr>
                        <tr>
                            <td style="width:30px;white-space: nowrap;padding-right: 15px;"> Student Name</td>
                            <td class="text-muted">{{stdinfo.student_name}}</td>
                        </tr>
                        <tr>
                            <td style="width:30px;white-space: nowrap;padding-right: 15px;">Mobile No</td>
                            <td class="text-muted">{{stdinfo.mobile_no}}</td>
                        </tr>
                        <tr>
                            <td style="width:30px;white-space: nowrap;padding-right: 15px;">Email</td>
                            <td class="text-muted">{{stdinfo.email}}</td>
                        </tr>
                        <tr>
                            <td style="width:30px;white-space: nowrap;padding-right: 15px;">Pay Amount</td>
                            <td><i class="fa fa-inr 2fx"></i> <strong> {{obj_details.std_tlttermdue}}</strong></td>
                        </tr>
                        <tr>
                            <td style="width:30px;white-space: nowrap;padding-right: 15px;">Alternate Number</td>
                            <td><input style="height:30px;" type="text" class="form-control" name="alternative_mobile" ng-model="alternative_mobile" maxlength="10" ng-change="paychange(alternative_mobile)" placeholder="Enter Mobile Number" required></td>
                        </tr> 
                        <tr>
                            <td colspan="3" class="text-center"> <small ng-show="error_msg!=''" class="text-danger">{{error_msg}}</small> </td>
                        </tr>
                        <tr>
                            <td colspan="3" class=" text-center"><button type="button" class="btn btn-success mt-3"
                                    ng-click="paynow(alternative_mobile)" id="alter_mbl" ><i class="fa fa-credit-card 2fx" aria-hidden="true"></i> PAY NOW</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-show="terms_details.length==0">
        <article class="horizontal-line">
            <h3>Payment Details</h3>
        </article> 
        <div class="card card-body shadow"> 
            <h5 class="text-center text-danger"> No Data Found </h5>
        </div>
    </div>
</div>