<div class="bodyWarper" ng-controller="stdprogress">   
    <div class="container"> 
        <div class="card card-body shawdow" ng-show="tablevalue[1]=='attendance'"> 
            <table class="table table-bordered table-sm" >  
                <thead>
                    <tr>
                        <th> #</th>
                        <th> Month</th>
                        <th> Present Days</th> 
                        <th> Working Days</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="presentattendance in stdpresentdt"> 
                        <td> {{$index+1}}</td>
                        <td> {{presentattendance.monthname}} </td>
                        <td> {{presentattendance.presentdays}} </td>
                        <td> {{presentattendance.workingdays}} </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-sm" >  
                <thead>
                    <tr>
                        <th> #</th>
                        <th> Absent Date</th>
                        <th> Session</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="absentattendance in stdabsentdt"> 
                        <td> {{$index+1}}</td>
                        <td> {{absentattendance.absentdate}} </td>
                        <td> {{absentattendance.session}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card card-body shawdow" ng-show="tablevalue[1]=='acadamic'"> 
            <table class="table table-bordered" ng-show="stdacademic!=undefiend">  
                <thead>
                    <tr>
                        <th> #</th>
                        <th> Subject Name</th>
                        <th> Marks</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stdadc in stdacademic"> 
                        <td> {{$index+1}}</td>
                        <td> {{stdadc.subject_name}} </td>
                        <td> {{stdadc.stdavgmarks}}/{{stdadc.exammaxmarks}} </td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card card-body shawdow" ng-show="tablevalue[1]=='competative'">  
            <table class="table table-bordered" ng-show="stdcompetative!=undefiend">  
                <thead>
                    <tr>
                        <th> #</th>
                        <th> Subject Name</th>
                        <th> Marks</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stdcmp in stdcompetative"> 
                        <td> {{$index+1}}</td>
                        <td> {{stdcmp.subject_name}} </td>
                        <td> {{stdcmp.stdavgmarks}}/{{stdcmp.exammaxmarks}} </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>